<h1>üßΩ Data Cleaning - Dataset C (3042-3879) üßΩ</h1>

Perform data cleaning on a segment in Dataset C.

<h2>üóÉ Import Libraries</h2>

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

<h2>üì§ Upload Dataset</h2>

In [2]:
C_Original_df = pd.read_csv("datasets\input\Dataset_C.csv")

<h2>üîç Inspect Dataset</h2>

In [3]:
C_Original_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4421 entries, 0 to 4420
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Busines Model  4292 non-null   object
 1   Category       4287 non-null   object
 2   Subcategory    4284 non-null   object
 3   Company Name   4392 non-null   object
 4   Address        4287 non-null   object
 5   Latitude       4284 non-null   object
 6   Longitude      4284 non-null   object
 7   State          4265 non-null   object
 8   Country        4342 non-null   object
 9   Contact No.    3986 non-null   object
 10  Fax No.        2848 non-null   object
 11  Website        4392 non-null   object
 12  Email          15 non-null     object
 13  Annual Sale    4286 non-null   object
 14  Annual Sales   0 non-null      float64
 15  Employees      4275 non-null   object
dtypes: float64(1), object(15)
memory usage: 552.8+ KB

In [4]:
C_Original_df.shape

(4421, 16)

In [5]:
C_Original_df.head(5)

,Busines Model,Category,Subcategory,Company Name,Address,Latitude,Longitude,State,Country,Contact No.,Fax No.,Website,Email,Annual Sale,Annual Sales,Employees
0,OEM,Apparatus & Machinery for Chemical Industry,Chemical Plants,Mitsubishi Heavy Industries,"2-3, Marunouchi 3-chome, Chiyoda-ku, Tokyo, 10...",35.6798,139.7633,Tokyo,Japan,81-3-6275-6200,NaN,www.mhi.com,NaN,"30,334,513,270.38",NaN,"77,697"
1,OEM,Printing & Binding Machinery,Printing Machines,Mitsubishi Heavy Industries,"2-3, Marunouchi 3-chome, Chiyoda-ku, Tokyo, 10...",35.6798,139.7633,Tokyo,Japan,81-3-6275-6200,NaN,www.mhi.com,NaN,"30,334,513,270.38",NaN,"77,697"
2,OEM,Paper Making & Converting Machinery,Box Making Machine,Mitsubishi Heavy Industries,"2-3, Marunouchi 3-chome, Chiyoda-ku, Tokyo, 10...",35.6798,139.7633,Tokyo,Japan,81-3-6275-6200,NaN,www.mhi.com,NaN,"30,334,513,270.38",NaN,"77,697"
3,OEM,Metal Cutting Tools,Metal Machinery,Mitsubishi Heavy Industries,"2-3, Marunouchi 3-chome, Chiyoda-ku, Tokyo, 10...",35.6798,139.7633,Tokyo,Japan,81-3-6275-6200,NaN,www.mhi.com,NaN,"30,334,513,270.38",NaN,"77,697"
4,OEM,Machinery for Rubber Industry,Rubber & Tire Machine,Mitsubishi Heavy Industries,"2-3, Marunouchi 3-chome, Chiyoda-ku, Tokyo, 10...",35.6798,139.7633,Tokyo,Japan,81-3-6275-6200,NaN,www.mhi.com,NaN,"30,334,513,270.38",NaN,"77,697"

In [6]:
C_Original_df.tail(5)

,Busines Model,Category,Subcategory,Company Name,Address,Latitude,Longitude,State,Country,Contact No.,Fax No.,Website,Email,Annual Sale,Annual Sales,Employees
4416,NaN,NaN,NaN,KTR Japan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,www.ktr.com/jp,NaN,NaN,NaN,NaN
4417,NaN,NaN,NaN,Takamiya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,www.takamiya.co,NaN,NaN,NaN,NaN
4418,NaN,NaN,NaN,Asahi-Seiki Manufacturing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,www.asahiseiki-mfg.co.jp,NaN,NaN,NaN,NaN
4419,NaN,NaN,NaN,Jarvis Japan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,www.jarvis.jp,NaN,NaN,NaN,NaN
4420,NaN,NaN,NaN,OPTIMA Japan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,www.optima-packaging.jp,NaN,NaN,NaN,NaN

<h2>üßº Clean Dataset</h2>

<h3>‚úÇÔ∏è Remove Irrelevant Data</h3>

<h4>Slice Dataframe</h4>

In [7]:
C_df = C_Original_df.iloc[3042:3880]

<h4>Confirm Shape</h4>

In [8]:
C_df.shape

(838, 16)

<h4>Peek Dataframe</h4>

In [9]:
C_df.head(3)

,Busines Model,Category,Subcategory,Company Name,Address,Latitude,Longitude,State,Country,Contact No.,Fax No.,Website,Email,Annual Sale,Annual Sales,Employees
3042,OEM,Electric Machinery,Calibration Systems,"Eagle Industry Co., Ltd. - Marine Division Kur...","737-0027 No. 8 1 Showa-cho, Kure City, Hiroshi...",34.2506,132.5651,Hiroshima,Japan,(0823) 25-7121,(0823) 25-7120,https://www.ekkeagle.com/jp,NaN,"1,117,001,501.90",NaN,"6,280"
3043,OEM,Apparatus & Machinery for Chemical Industry,Mechanical seal auxiliary equipment,"Eagle Industry Co., Ltd. - Hiroshima Branch Sh...","746-0024 2-20-3 Koizumi, Shunan, Yamaguchi",34.0421,131.8069,Yamaguchi,Japan,(0834) 63-7648,(0834) 61-1054,https://www.ekkeagle.com/jp,NaN,"1,117,001,501.90",NaN,"6,280"
3044,OEM,Piping System,Mechanical seal auxiliary equipment,"Eagle Industry Co., Ltd. - Hiroshima Branch Sh...","746-0024 2-20-3 Koizumi, Shunan, Yamaguchi",34.0421,131.8069,Yamaguchi,Japan,(0834) 63-7648,(0834) 61-1054,https://www.ekkeagle.com/jp,NaN,"1,117,001,501.90",NaN,"6,280"

In [10]:
C_df.tail(3)

,Busines Model,Category,Subcategory,Company Name,Address,Latitude,Longitude,State,Country,Contact No.,Fax No.,Website,Email,Annual Sale,Annual Sales,Employees
3877,OEM,Industrial Machinery,Industrial Machinery,Seika Corp. - Fukuoka Branch Office,810-0004 Fukuoka City Chuo Ward Watanabedori 2...,33.5828,130.4052,Fukuoka,Japan,092-731-0471,092-731-0955,https://www.seika.com/,NaN,"576,204,668.25",NaN,"1,040"
3878,OEM,Industrial Machinery,Industrial Machinery,Seika Corp. - Kitakyushu Branch Office,"802-0001 KMM Building 2-14-1 Asano, Kokurakita...",33.8887,130.8835,Fukuoka,Japan,093-541-1127,093-541-1277,https://www.seika.com/,NaN,"576,204,668.25",NaN,"1,040"
3879,OEM,Industrial Machinery,Industrial Machinery,Seika Corp. - Oita Branch Office,"9th floor, Nissei Oita Ekimae Building, 1-1-18...",33.2347,131.6061,Oita,Japan,097-534-1798,097-533-7494,https://www.seika.com/,NaN,"576,204,668.25",NaN,"1,040"

<h4>Remove Annual Sales Field</h4>

In [11]:
C_df = C_df.drop('Annual Sales', axis=1)

In [12]:
C_df.head(1)

,Busines Model,Category,Subcategory,Company Name,Address,Latitude,Longitude,State,Country,Contact No.,Fax No.,Website,Email,Annual Sale,Employees
3042,OEM,Electric Machinery,Calibration Systems,"Eagle Industry Co., Ltd. - Marine Division Kur...","737-0027 No. 8 1 Showa-cho, Kure City, Hiroshi...",34.2506,132.5651,Hiroshima,Japan,(0823) 25-7121,(0823) 25-7120,https://www.ekkeagle.com/jp,NaN,"1,117,001,501.90","6,280"

<h3>üï≥ Handle Missing or Incomplete Data</h3>

<h4>Check Field Status</h4>

In [29]:
C_df.isnull().any()

Busines Model    False
Category         False
Subcategory      False
Company Name     False
Address          False
Latitude         False
Longitude        False
State            False
Country          False
Contact No.       True
Fax No.           True
Website          False
Email             True
Annual Sale      False
Employees         True
dtype: bool

In [14]:
C_df['Busines Model'].unique()

array(['OEM', 'End-user', nan], dtype=object)

<h4>Resolve Busines Model</h4>

In [15]:
null_rows = C_df[C_df['Busines Model'].isna()]

In [16]:
null_rows

,Busines Model,Category,Subcategory,Company Name,Address,Latitude,Longitude,State,Country,Contact No.,Fax No.,Website,Email,Annual Sale,Employees
3754,NaN,Dryers,Drying/dehydration units,"Tsukishima Holdings Co., Ltd. - Osaka Branch","541-0048„ÄÄNo. 6, Kawaramachi 3-chome, Chuo-ku, ...",34.6862,135.5033,NaN,Japan,(06)6229-1331,(06)6229-1415,https://www.tsk-g.co.jp/,NaN,"824,652,887.25","3,517"
3756,NaN,Pollution Control Equipment,Waste treatment support,"Tsukishima Holdings Co., Ltd. - Kansai Branch","541-0048„ÄÄNo. 6, Kawaramachi 3-chome, Chuo-ku, ...",34.6862,135.5033,NaN,Japan,(06)6229-1331,(06)6229-1415,https://www.tsk-g.co.jp/,NaN,"824,652,887.25","3,517"
3766,NaN,Industrial Turnkey Plant,Large industrial equipment,"Tsukishima Holdings Co., Ltd. - Muroran Factory","051-0006„ÄÄ35-2 Chazu-cho, Muroran City, Hokkaid...",42.3274,140.9892,NaN,Japan,(0143)57-1100,(0143)57-1102,https://www.tsk-g.co.jp/,NaN,"824,652,887.25","3,517"
3767,NaN,Industrial Turnkey Plant,Welding and machining,"Tsukishima Holdings Co., Ltd. - Muroran Factory","051-0006„ÄÄ35-2 Chazu-cho, Muroran City, Hokkaid...",42.3274,140.9892,NaN,Japan,(0143)57-1100,(0143)57-1102,https://www.tsk-g.co.jp/,NaN,"824,652,887.25","3,517"

In [17]:
C_df['Busines Model'] = C_df['Busines Model'].fillna('OEM')

<h4>Resolve State</h4>

In [18]:
null_rows = C_df[C_df['State'].isna()]

In [19]:
null_rows

,Busines Model,Category,Subcategory,Company Name,Address,Latitude,Longitude,State,Country,Contact No.,Fax No.,Website,Email,Annual Sale,Employees
3751,OEM,Pollution Control Equipment,Water treatment systems,"Tsukishima Holdings Co., Ltd. - East Japan Branch","104-0053„ÄÄNo. 5, Harumi 3-chome, Chuo-ku, Tokyo",35.7078,139.7795,NaN,Japan,(03)5560-6541,(03)5560-6593,https://www.tsk-g.co.jp/,NaN,"824,652,887.25","3,517"
3752,OEM,"Planning, Consulting & Construction of Complet...",Engineering support for water,"Tsukishima Holdings Co., Ltd. - Kanto Branch","104-0053„ÄÄNo. 5, Harumi 3-chome, Chuo-ku, Tokyo",35.7078,139.7795,NaN,Japan,(03)5560-6542,(03)5560-6593,https://www.tsk-g.co.jp/,NaN,"824,652,887.25","3,517"
3753,OEM,Dryers,Wastewater treatment systems,"Tsukishima Holdings Co., Ltd. - Osaka Branch","541-0048„ÄÄNo. 6, Kawaramachi 3-chome, Chuo-ku, ...",34.6862,135.5033,NaN,Japan,(06)6229-1331,(06)6229-1415,https://www.tsk-g.co.jp/,NaN,"824,652,887.25","3,517"
3754,OEM,Dryers,Drying/dehydration units,"Tsukishima Holdings Co., Ltd. - Osaka Branch","541-0048„ÄÄNo. 6, Kawaramachi 3-chome, Chuo-ku, ...",34.6862,135.5033,NaN,Japan,(06)6229-1331,(06)6229-1415,https://www.tsk-g.co.jp/,NaN,"824,652,887.25","3,517"
3755,OEM,Pollution Control Equipment,Municipal sewage,"Tsukishima Holdings Co., Ltd. - Kansai Branch","541-0048„ÄÄNo. 6, Kawaramachi 3-chome, Chuo-ku, ...",34.6862,135.5033,NaN,Japan,(06)6229-1331,(06)6229-1415,https://www.tsk-g.co.jp/,NaN,"824,652,887.25","3,517"
3756,OEM,Pollution Control Equipment,Waste treatment support,"Tsukishima Holdings Co., Ltd. - Kansai Branch","541-0048„ÄÄNo. 6, Kawaramachi 3-chome, Chuo-ku, ...",34.6862,135.5033,NaN,Japan,(06)6229-1331,(06)6229-1415,https://www.tsk-g.co.jp/,NaN,"824,652,887.25","3,517"
3757,OEM,"Planning, Consulting & Construction of Complet...",Regional support for water,"Tsukishima Holdings Co., Ltd. - Sapporo Branch","060-0807„ÄÄ1-2 Kitashichijo Nishi 4-chome, Kita-...",35.6556,139.7797,NaN,Japan,(011)726-0510,(011)726-0520,https://www.tsk-g.co.jp/,NaN,"824,652,887.25","3,517"
3758,OEM,Pollution Control Equipment,Water treatment consulting,"Tsukishima Holdings Co., Ltd. - Sendai Branch","980-0014„ÄÄ11-2 Honmachi, Aoba-ku, Sendai (SK Se...",35.6563,139.7800,NaN,Japan,(022)227-9267,(022)223-0316,https://www.tsk-g.co.jp/,NaN,"824,652,887.25","3,517"
3759,OEM,Pollution Control Equipment,Environmental plant engineering,"Tsukishima Holdings Co., Ltd. - Yokohama Branch","231-0012„ÄÄ1, 56 Aioicho 3-chome, Naka-ku, Yokoh...",35.6563,139.7800,NaN,Japan,(045)651-7331,(045)664-5086,https://www.tsk-g.co.jp/,NaN,"824,652,887.25","3,517"
3760,OEM,Pollution Control Equipment,Sales and project support for treatment plants,"Tsukishima Holdings Co., Ltd. - Nagoya Branch","450-0003„ÄÄNo. 17, 29, Meieki Minami 1-chome, Na...",35.6563,139.7800,NaN,Japan,(052)581-2378,(052)581-1624,https://www.tsk-g.co.jp/,NaN,"824,652,887.25","3,517"
3761,OEM,Pollution Control Equipment,Environmental plant equipment sales and consul...,"Tsukishima Holdings Co., Ltd. - China Branch","730-0015„ÄÄNo. 10, Hashimotocho, Naka-ku, Hirosh...",35.6648,139.7828,NaN,Japan,(082)227-3093,(082)223-8771,https://www.tsk-g.co.jp/,NaN,"824,652,887.25","3,517"
3762,OEM,Pollution Control Equipment,West Japan environmental engineering projects,"Tsukishima Holdings Co., Ltd. - Fukuoka Branch","810-0062„ÄÄArato 2-chome No. 1 No. 5, Chuo-ku, F...",35.6560,139.7796,NaN,Japan,(092)741-5736,(092)761-4806,https://www.tsk-g.co.jp/,NaN,"824,652,887.25","3,517"
3763,OEM,Pollution Control Equipment,Local sales support for environmental systems,"Tsukishima Holdings Co., Ltd. - Okinawa Office","901-2131„ÄÄMakiminato 2-chome 54-No. 2, Urasoe C...",26.2626,127.7261,NaN,Japan,(098)874-5793,(098)874-6262,https://www.tsk-g.co.jp/,NaN,"824,652,887.25","3,517"
3764,OEM,Machinery Equipment for Services,Mechanical design,"Tsukishima Holdings Co., Ltd. - Yachiyo Office","276-0022„ÄÄ3, 1807 Kamikono, Yachiyo City, Chiba...",35.7335,140.1331,NaN,Japan,(047)494-4300,(047)494-4321\r,https://www.tsk-g.co.jp/,NaN,"824,652,887.25","3,517"
3765,OEM,Industrial Turnkey Plant,Production of tanks,"Tsukishima Holdings Co., Ltd. - Muroran Factory","051-0006„ÄÄ35-2 Chazu-cho, Muroran City, Hokkaid...",42.3274,140.9892,NaN,Japan,(0143)57-1100,(0143)57-1102,https://www.tsk-g.co.jp/,NaN,"824,652,887.25","3,517"
3766,OEM,Industrial Turnkey Plant,Large industrial equipment,"Tsukishima Holdings Co., Ltd. - Muroran Factory","051-0006„ÄÄ35-2 Chazu-cho, Muroran City, Hokkaid...",42.3274,140.9892,NaN,Japan,(0143)57-1100,(0143)57-1102,https://www.tsk-g.co.jp/,NaN,"824,652,887.25","3,517"
3767,OEM,Industrial Turnkey Plant,Welding and machining,"Tsukishima Holdings Co., Ltd. - Muroran Factory","051-0006„ÄÄ35-2 Chazu-cho, Muroran City, Hokkaid...",42.3274,140.9892,NaN,Japan,(0143)57-1100,(0143)57-1102,https://www.tsk-g.co.jp/,NaN,"824,652,887.25","3,517"
3821,OEM,Productronics Machinery & Equipment,Printing Systems\n,"Sinfonia Technology Co., Ltd. - Ise Seisakusho...","516-8550 100 Takegahana-cho, Ise City, Mie Pre...",34.5093,136.7282,NaN,Japan,0596-36-1111,0596-36-0577,https://www.sinfo-t.jp/company/business-base/,NaN,"681,586,018.65","3,683"
3822,OEM,"Precision Machinery, Inspecting & Testing Equi...",Precision machining,"Sinfonia Technology Co., Ltd. - Toba Factory","517-0011 1-19-1 Toba, Toba City, Mie Prefecture",34.4850,136.8279,NaN,Japan,0599-25-3231,0599-25-5162,https://www.sinfo-t.jp/company/business-base/,NaN,"681,586,018.65","3,683"

In [20]:
C_df.loc[3751:3752, 'State'] = 'Tokyo'
C_df.loc[3753:3757, 'State'] = 'Osaka'
C_df.loc[3758, 'State'] = 'Miyagi'
C_df.loc[3759, 'State'] = 'Kanagawa'
C_df.loc[3760, 'State'] = 'Kochi'
C_df.loc[3761, 'State'] = 'Hiroshima'
C_df.loc[3762, 'State'] = 'Fukuoka'
C_df.loc[3763, 'State'] = 'Okinawa'
C_df.loc[3764, 'State'] = 'Chiba'
C_df.loc[3765:3767, 'State'] = 'Hokkaido'
C_df.loc[3821:3822, 'State'] = 'Mie'

In [26]:
C_df.loc[3822]

Busines Model                                                  OEM
Category         Precision Machinery, Inspecting & Testing Equi...
Subcategory                                    Precision machining
Company Name          Sinfonia Technology Co., Ltd. - Toba Factory
Address            517-0011 1-19-1 Toba, Toba City, Mie Prefecture
Latitude                                                   34.4850
Longitude                                                 136.8279
State                                                          Mie
Country                                                      Japan
Contact No.                                           0599-25-3231
Fax No.                                               0599-25-5162
Website              https://www.sinfo-t.jp/company/business-base/
Email                                                          NaN
Annual Sale                                         681,586,018.65
Employees                                                    3,683
Name: 3822, dtype: object

<h4>Resolve Country</h4>

In [27]:
C_df['Country'].unique()

array(['Japan', nan], dtype=object)

In [28]:
C_df['Country'] = C_df['Country'].fillna('Japan')

<h4>Resolve Contact No.</h4>

<h4>Resolve Fax No.</h4>

<h4>Resolve Email</h4>

<h4>Resolve Employees</h4>

<h3>‚ö†Ô∏è Fix Formatting Issues</h3>

<h3>üéè Remove Duplicate Records</h3>

<h3>üåê Validate Geolocation Data</h3>

<h3>üìù Correct Incorrect Entries</h3>

<h3>üìà Detect and Treat Outliers</h3>

<h2>üîé Finalize Dataset</h2>

<h2>üì• Download Dataset</h2>

<h2>üíå Credits ‚úâÔ∏è</h2>

This project is done by <b>ERMITANO, Kate Justine</b> as a part of the internship tasks under the instructions of <b>Miss Fherlyn Charl Yet</b>.