<h1>üßΩ Data Cleaning - Dataset C (3042-3879) üßΩ</h1>

Perform data cleaning on a segment in Dataset C.

<h2>üóÉ Import Libraries</h2>

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

<h2>üì§ Upload Dataset</h2>

In [2]:
C_Original_df = pd.read_csv("datasets\input\Dataset_C.csv")

<h2>üîç Inspect Dataset</h2>

In [3]:
C_Original_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4421 entries, 0 to 4420
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Busines Model  4292 non-null   object
 1   Category       4287 non-null   object
 2   Subcategory    4284 non-null   object
 3   Company Name   4392 non-null   object
 4   Address        4287 non-null   object
 5   Latitude       4284 non-null   object
 6   Longitude      4284 non-null   object
 7   State          4265 non-null   object
 8   Country        4342 non-null   object
 9   Contact No.    3986 non-null   object
 10  Fax No.        2848 non-null   object
 11  Website        4392 non-null   object
 12  Email          15 non-null     object
 13  Annual Sale    4286 non-null   object
 14  Annual Sales   0 non-null      float64
 15  Employees      4275 non-null   object
dtypes: float64(1), object(15)
memory usage: 552.8+ KB

In [4]:
C_Original_df.shape

(4421, 16)

In [5]:
C_Original_df.head(5)

,Busines Model,Category,Subcategory,Company Name,Address,Latitude,Longitude,State,Country,Contact No.,Fax No.,Website,Email,Annual Sale,Annual Sales,Employees
0,OEM,Apparatus & Machinery for Chemical Industry,Chemical Plants,Mitsubishi Heavy Industries,"2-3, Marunouchi 3-chome, Chiyoda-ku, Tokyo, 10...",35.6798,139.7633,Tokyo,Japan,81-3-6275-6200,NaN,www.mhi.com,NaN,"30,334,513,270.38",NaN,"77,697"
1,OEM,Printing & Binding Machinery,Printing Machines,Mitsubishi Heavy Industries,"2-3, Marunouchi 3-chome, Chiyoda-ku, Tokyo, 10...",35.6798,139.7633,Tokyo,Japan,81-3-6275-6200,NaN,www.mhi.com,NaN,"30,334,513,270.38",NaN,"77,697"
2,OEM,Paper Making & Converting Machinery,Box Making Machine,Mitsubishi Heavy Industries,"2-3, Marunouchi 3-chome, Chiyoda-ku, Tokyo, 10...",35.6798,139.7633,Tokyo,Japan,81-3-6275-6200,NaN,www.mhi.com,NaN,"30,334,513,270.38",NaN,"77,697"
3,OEM,Metal Cutting Tools,Metal Machinery,Mitsubishi Heavy Industries,"2-3, Marunouchi 3-chome, Chiyoda-ku, Tokyo, 10...",35.6798,139.7633,Tokyo,Japan,81-3-6275-6200,NaN,www.mhi.com,NaN,"30,334,513,270.38",NaN,"77,697"
4,OEM,Machinery for Rubber Industry,Rubber & Tire Machine,Mitsubishi Heavy Industries,"2-3, Marunouchi 3-chome, Chiyoda-ku, Tokyo, 10...",35.6798,139.7633,Tokyo,Japan,81-3-6275-6200,NaN,www.mhi.com,NaN,"30,334,513,270.38",NaN,"77,697"

In [6]:
C_Original_df.tail(5)

,Busines Model,Category,Subcategory,Company Name,Address,Latitude,Longitude,State,Country,Contact No.,Fax No.,Website,Email,Annual Sale,Annual Sales,Employees
4416,NaN,NaN,NaN,KTR Japan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,www.ktr.com/jp,NaN,NaN,NaN,NaN
4417,NaN,NaN,NaN,Takamiya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,www.takamiya.co,NaN,NaN,NaN,NaN
4418,NaN,NaN,NaN,Asahi-Seiki Manufacturing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,www.asahiseiki-mfg.co.jp,NaN,NaN,NaN,NaN
4419,NaN,NaN,NaN,Jarvis Japan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,www.jarvis.jp,NaN,NaN,NaN,NaN
4420,NaN,NaN,NaN,OPTIMA Japan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,www.optima-packaging.jp,NaN,NaN,NaN,NaN

<h2>üßº Clean Dataset</h2>

<h3>‚úÇÔ∏è Remove Irrelevant Data</h3>

<h4>Slice Dataframe</h4>

In [11]:
C_df = C_Original_df.iloc[3042:3880]

<h4>Confirm Shape</h4>

In [13]:
C_df.shape

(838, 16)

<h4>Peek Dataframe</h4>

In [17]:
C_df.head(3)

,Busines Model,Category,Subcategory,Company Name,Address,Latitude,Longitude,State,Country,Contact No.,Fax No.,Website,Email,Annual Sale,Employees
3042,OEM,Electric Machinery,Calibration Systems,"Eagle Industry Co., Ltd. - Marine Division Kur...","737-0027 No. 8 1 Showa-cho, Kure City, Hiroshi...",34.2506,132.5651,Hiroshima,Japan,(0823) 25-7121,(0823) 25-7120,https://www.ekkeagle.com/jp,NaN,"1,117,001,501.90","6,280"
3043,OEM,Apparatus & Machinery for Chemical Industry,Mechanical seal auxiliary equipment,"Eagle Industry Co., Ltd. - Hiroshima Branch Sh...","746-0024 2-20-3 Koizumi, Shunan, Yamaguchi",34.0421,131.8069,Yamaguchi,Japan,(0834) 63-7648,(0834) 61-1054,https://www.ekkeagle.com/jp,NaN,"1,117,001,501.90","6,280"
3044,OEM,Piping System,Mechanical seal auxiliary equipment,"Eagle Industry Co., Ltd. - Hiroshima Branch Sh...","746-0024 2-20-3 Koizumi, Shunan, Yamaguchi",34.0421,131.8069,Yamaguchi,Japan,(0834) 63-7648,(0834) 61-1054,https://www.ekkeagle.com/jp,NaN,"1,117,001,501.90","6,280"

In [18]:
C_df.tail(3)

,Busines Model,Category,Subcategory,Company Name,Address,Latitude,Longitude,State,Country,Contact No.,Fax No.,Website,Email,Annual Sale,Employees
3877,OEM,Industrial Machinery,Industrial Machinery,Seika Corp. - Fukuoka Branch Office,810-0004 Fukuoka City Chuo Ward Watanabedori 2...,33.5828,130.4052,Fukuoka,Japan,092-731-0471,092-731-0955,https://www.seika.com/,NaN,"576,204,668.25","1,040"
3878,OEM,Industrial Machinery,Industrial Machinery,Seika Corp. - Kitakyushu Branch Office,"802-0001 KMM Building 2-14-1 Asano, Kokurakita...",33.8887,130.8835,Fukuoka,Japan,093-541-1127,093-541-1277,https://www.seika.com/,NaN,"576,204,668.25","1,040"
3879,OEM,Industrial Machinery,Industrial Machinery,Seika Corp. - Oita Branch Office,"9th floor, Nissei Oita Ekimae Building, 1-1-18...",33.2347,131.6061,Oita,Japan,097-534-1798,097-533-7494,https://www.seika.com/,NaN,"576,204,668.25","1,040"

<h4>Remove <b>Annual Sales</b> Column</h4>

In [16]:
C_df = C_df.drop('Annual Sales', axis=1)

In [20]:
C_df.head(1)

,Busines Model,Category,Subcategory,Company Name,Address,Latitude,Longitude,State,Country,Contact No.,Fax No.,Website,Email,Annual Sale,Employees
3042,OEM,Electric Machinery,Calibration Systems,"Eagle Industry Co., Ltd. - Marine Division Kur...","737-0027 No. 8 1 Showa-cho, Kure City, Hiroshi...",34.2506,132.5651,Hiroshima,Japan,(0823) 25-7121,(0823) 25-7120,https://www.ekkeagle.com/jp,NaN,"1,117,001,501.90","6,280"

<h3>üï≥ Handle Missing or Incomplete Data</h3>

<h4>Check Field Status</h4>

In [31]:
C_df.isnull().any()

Busines Model    False
Category         False
Subcategory      False
Company Name     False
Address          False
Latitude         False
Longitude        False
State             True
Country           True
Contact No.       True
Fax No.           True
Website          False
Email             True
Annual Sale      False
Employees         True
dtype: bool

In [22]:
C_df['Busines Model'].unique()

array(['OEM', 'End-user', nan], dtype=object)

<h4>Resolve Busines Model</h4>

In [29]:
null_rows = C_df[C_df['Busines Model'].isna()]

In [30]:
null_rows

Empty DataFrame
Columns: [Busines Model, Category, Subcategory, Company Name, Address, Latitude, Longitude, State, Country, Contact No., Fax No., Website, Email, Annual Sale, Employees]
Index: []

In [28]:
C_df['Busines Model'] = C_df['Busines Model'].fillna('OEM')

<h3>‚ö†Ô∏è Fix Formatting Issues</h3>

<h3>üéè Remove Duplicate Records</h3>

<h3>üåê Validate Geolocation Data</h3>

<h3>üìù Correct Incorrect Entries</h3>

<h3>üìà Detect and Treat Outliers</h3>

<h2>üîé Finalize Dataset</h2>

<h2>üì• Download Dataset</h2>

<h2>üíå Credits ‚úâÔ∏è</h2>

This project is done by <b>ERMITANO, Kate Justine</b> as a part of the internship tasks under the instructions of <b>Miss Fherlyn Charl Yet</b>.