<h1>üßΩ Data Cleaning - Dataset C (3042-3879) üßΩ</h1>

Perform data cleaning on a segment in Dataset C.

<h2>üóÉ Import Libraries</h2>

In [1]:
#pip install geopandas matplotlib folium shapely

In [2]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import geopandas as gpd
import folium
import webbrowser

<h2>üì§ Upload Dataset</h2>

In [3]:
C_Original_df = pd.read_csv("datasets\input\Dataset_C.csv")

<h2>üîç Inspect Dataset</h2>

<h3>Check Data Types</h3>

In [4]:
C_Original_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4421 entries, 0 to 4420
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Busines Model  4292 non-null   object
 1   Category       4287 non-null   object
 2   Subcategory    4284 non-null   object
 3   Company Name   4392 non-null   object
 4   Address        4287 non-null   object
 5   Latitude       4284 non-null   object
 6   Longitude      4284 non-null   object
 7   State          4265 non-null   object
 8   Country        4342 non-null   object
 9   Contact No.    3986 non-null   object
 10  Fax No.        2848 non-null   object
 11  Website        4392 non-null   object
 12  Email          15 non-null     object
 13  Annual Sale    4286 non-null   object
 14  Annual Sales   0 non-null      float64
 15  Employees      4275 non-null   object
dtypes: float64(1), object(15)
memory usage: 552.8+ KB

<h3>Check For Null Values</h3>

In [5]:
C_Original_df.isnull().any()

Busines Model    True
Category         True
Subcategory      True
Company Name     True
Address          True
Latitude         True
Longitude        True
State            True
Country          True
Contact No.      True
Fax No.          True
Website          True
Email            True
Annual Sale      True
Annual Sales     True
Employees        True
dtype: bool

<h3>Summarize Dataset</h3>

In [6]:
C_Original_df.describe()

       Annual Sales
count           0.0
mean            NaN
std             NaN
min             NaN
25%             NaN
50%             NaN
75%             NaN
max             NaN

<h3>Check Random Samples</h3>

In [7]:
C_Original_df.sample(5)

,Busines Model,Category,Subcategory,Company Name,Address,Latitude,Longitude,State,Country,Contact No.,Fax No.,Website,Email,Annual Sale,Annual Sales,Employees
970,OEM,Construction Machinery,Construction Machinery,YAMAZEN CORPORATION - Tokyo Head Office,"108-8217 2-16-2 Konan, Minato-ku, Tokyo Taiyo ...",35.6294,139.7401,Tokyo,Japan,03-6712-1344,03-6712-1328,https://www.yamazen.co.jp/,NaN,"3,339,841,447.20",NaN,"3,276"
3820,OEM,Material Handling Machinery,Vibration Equipment,"Sinfonia Technology Co., Ltd. - Toyohashi Seis...","441-3195 150 Motoyashiki, Sanya-cho, Toyohashi...",34.7201,137.4596,Aichi,Japan,0532-41-2121,0532-41-2179,https://www.sinfo-t.jp/company/business-base/,NaN,"681,586,018.65",NaN,"3,683"
2343,OEM,"Tools, Cutters, Moulds, & Dies","Tools, Cutters, Moulds, & Dies","RYODEN Co., Ltd. - Kagoshima Business Office","3F, Urban Square Kagoshima Bldg., 4-10 Kinseic...",31.5895,130.5571,Kagoshima,Japan,81-50-9002-4841,81-50-3133-4844,https://www.ryoden.co.jp/,NaN,"1,705,925,111.04",NaN,"1,360"
1365,OEM,Special Machine Tools,Special Machine Tools,YAMAZEN CORPORATION - Fukuyama Branch,"721-0907 1-19-16 Kasugacho, Fukuyama City, Hir...",34.5087,133.4067,Hiroshima,Japan,084-959-3330,084-945-6690,https://www.yamazen.co.jp/,NaN,"3,339,841,447.20",NaN,"3,276"
3100,OEM,Machinery for Non-metallic Mineral Products,Machinery for Non-metallic Mineral Products,"Shibaura Machine Co., Ltd. -","4F Fukoku Seimei Building, 2-2-2 Uchisaiwaicho...",35.6706,139.7553,Tokyo,Japan,03-3509-0200,03-3509-0333,https://www.shibaura-machine.co.jp/,NaN,"1,074,278,578.35",NaN,"3,507"

<h2>üßº Clean Dataset</h2>

<h3>‚úÇÔ∏è Remove Irrelevant Data</h3>

<h4>Slice Dataframe</h4>

In [8]:
C_df = C_Original_df.iloc[3042:3880]

<h4>Confirm Shape</h4>

In [9]:
C_df.shape

(838, 16)

<h4>Peek Dataframe</h4>

In [10]:
C_df.head(3)

,Busines Model,Category,Subcategory,Company Name,Address,Latitude,Longitude,State,Country,Contact No.,Fax No.,Website,Email,Annual Sale,Annual Sales,Employees
3042,OEM,Electric Machinery,Calibration Systems,"Eagle Industry Co., Ltd. - Marine Division Kur...","737-0027 No. 8 1 Showa-cho, Kure City, Hiroshi...",34.2506,132.5651,Hiroshima,Japan,(0823) 25-7121,(0823) 25-7120,https://www.ekkeagle.com/jp,NaN,"1,117,001,501.90",NaN,"6,280"
3043,OEM,Apparatus & Machinery for Chemical Industry,Mechanical seal auxiliary equipment,"Eagle Industry Co., Ltd. - Hiroshima Branch Sh...","746-0024 2-20-3 Koizumi, Shunan, Yamaguchi",34.0421,131.8069,Yamaguchi,Japan,(0834) 63-7648,(0834) 61-1054,https://www.ekkeagle.com/jp,NaN,"1,117,001,501.90",NaN,"6,280"
3044,OEM,Piping System,Mechanical seal auxiliary equipment,"Eagle Industry Co., Ltd. - Hiroshima Branch Sh...","746-0024 2-20-3 Koizumi, Shunan, Yamaguchi",34.0421,131.8069,Yamaguchi,Japan,(0834) 63-7648,(0834) 61-1054,https://www.ekkeagle.com/jp,NaN,"1,117,001,501.90",NaN,"6,280"

In [11]:
C_df.tail(3)

,Busines Model,Category,Subcategory,Company Name,Address,Latitude,Longitude,State,Country,Contact No.,Fax No.,Website,Email,Annual Sale,Annual Sales,Employees
3877,OEM,Industrial Machinery,Industrial Machinery,Seika Corp. - Fukuoka Branch Office,810-0004 Fukuoka City Chuo Ward Watanabedori 2...,33.5828,130.4052,Fukuoka,Japan,092-731-0471,092-731-0955,https://www.seika.com/,NaN,"576,204,668.25",NaN,"1,040"
3878,OEM,Industrial Machinery,Industrial Machinery,Seika Corp. - Kitakyushu Branch Office,"802-0001 KMM Building 2-14-1 Asano, Kokurakita...",33.8887,130.8835,Fukuoka,Japan,093-541-1127,093-541-1277,https://www.seika.com/,NaN,"576,204,668.25",NaN,"1,040"
3879,OEM,Industrial Machinery,Industrial Machinery,Seika Corp. - Oita Branch Office,"9th floor, Nissei Oita Ekimae Building, 1-1-18...",33.2347,131.6061,Oita,Japan,097-534-1798,097-533-7494,https://www.seika.com/,NaN,"576,204,668.25",NaN,"1,040"

<h4>Remove Annual Sales Field</h4>

In [12]:
C_df = C_df.drop('Annual Sales', axis=1)

In [13]:
C_df.head(1)

,Busines Model,Category,Subcategory,Company Name,Address,Latitude,Longitude,State,Country,Contact No.,Fax No.,Website,Email,Annual Sale,Employees
3042,OEM,Electric Machinery,Calibration Systems,"Eagle Industry Co., Ltd. - Marine Division Kur...","737-0027 No. 8 1 Showa-cho, Kure City, Hiroshi...",34.2506,132.5651,Hiroshima,Japan,(0823) 25-7121,(0823) 25-7120,https://www.ekkeagle.com/jp,NaN,"1,117,001,501.90","6,280"

<h4>Remove Newline Characters</h4>

In [14]:
C_df = C_df.map(lambda x: x.replace('\n', '') if isinstance(x, str) else x)

In [15]:
C_df = C_df.map(lambda x: x.replace('\r', '') if isinstance(x, str) else x)

<h3>üï≥ Handle Missing or Incomplete Data</h3>

<h4>Check Field Status</h4>

In [16]:
C_df.isnull().any()

Busines Model     True
Category         False
Subcategory      False
Company Name     False
Address          False
Latitude         False
Longitude        False
State             True
Country           True
Contact No.       True
Fax No.           True
Website          False
Email             True
Annual Sale      False
Employees         True
dtype: bool

In [17]:
C_df['Busines Model'].unique()

array(['OEM', 'End-user', nan], dtype=object)

<h4>Resolve Busines Model</h4>

In [18]:
null_rows = C_df[C_df['Busines Model'].isna()]

In [19]:
null_rows

,Busines Model,Category,Subcategory,Company Name,Address,Latitude,Longitude,State,Country,Contact No.,Fax No.,Website,Email,Annual Sale,Employees
3754,NaN,Dryers,Drying/dehydration units,"Tsukishima Holdings Co., Ltd. - Osaka Branch","541-0048„ÄÄNo. 6, Kawaramachi 3-chome, Chuo-ku, ...",34.6862,135.5033,NaN,Japan,(06)6229-1331,(06)6229-1415,https://www.tsk-g.co.jp/,NaN,"824,652,887.25","3,517"
3756,NaN,Pollution Control Equipment,Waste treatment support,"Tsukishima Holdings Co., Ltd. - Kansai Branch","541-0048„ÄÄNo. 6, Kawaramachi 3-chome, Chuo-ku, ...",34.6862,135.5033,NaN,Japan,(06)6229-1331,(06)6229-1415,https://www.tsk-g.co.jp/,NaN,"824,652,887.25","3,517"
3766,NaN,Industrial Turnkey Plant,Large industrial equipment,"Tsukishima Holdings Co., Ltd. - Muroran Factory","051-0006„ÄÄ35-2 Chazu-cho, Muroran City, Hokkaido",42.3274,140.9892,NaN,Japan,(0143)57-1100,(0143)57-1102,https://www.tsk-g.co.jp/,NaN,"824,652,887.25","3,517"
3767,NaN,Industrial Turnkey Plant,Welding and machining,"Tsukishima Holdings Co., Ltd. - Muroran Factory","051-0006„ÄÄ35-2 Chazu-cho, Muroran City, Hokkaido",42.3274,140.9892,NaN,Japan,(0143)57-1100,(0143)57-1102,https://www.tsk-g.co.jp/,NaN,"824,652,887.25","3,517"

In [20]:
C_df['Busines Model'] = C_df['Busines Model'].fillna('OEM')

<h4>Resolve State</h4>

In [21]:
null_rows = C_df[C_df['State'].isna()]

In [22]:
null_rows

,Busines Model,Category,Subcategory,Company Name,Address,Latitude,Longitude,State,Country,Contact No.,Fax No.,Website,Email,Annual Sale,Employees
3751,OEM,Pollution Control Equipment,Water treatment systems,"Tsukishima Holdings Co., Ltd. - East Japan Branch","104-0053„ÄÄNo. 5, Harumi 3-chome, Chuo-ku, Tokyo",35.7078,139.7795,NaN,Japan,(03)5560-6541,(03)5560-6593,https://www.tsk-g.co.jp/,NaN,"824,652,887.25","3,517"
3752,OEM,"Planning, Consulting & Construction of Complet...",Engineering support for water,"Tsukishima Holdings Co., Ltd. - Kanto Branch","104-0053„ÄÄNo. 5, Harumi 3-chome, Chuo-ku, Tokyo",35.7078,139.7795,NaN,Japan,(03)5560-6542,(03)5560-6593,https://www.tsk-g.co.jp/,NaN,"824,652,887.25","3,517"
3753,OEM,Dryers,Wastewater treatment systems,"Tsukishima Holdings Co., Ltd. - Osaka Branch","541-0048„ÄÄNo. 6, Kawaramachi 3-chome, Chuo-ku, ...",34.6862,135.5033,NaN,Japan,(06)6229-1331,(06)6229-1415,https://www.tsk-g.co.jp/,NaN,"824,652,887.25","3,517"
3754,OEM,Dryers,Drying/dehydration units,"Tsukishima Holdings Co., Ltd. - Osaka Branch","541-0048„ÄÄNo. 6, Kawaramachi 3-chome, Chuo-ku, ...",34.6862,135.5033,NaN,Japan,(06)6229-1331,(06)6229-1415,https://www.tsk-g.co.jp/,NaN,"824,652,887.25","3,517"
3755,OEM,Pollution Control Equipment,Municipal sewage,"Tsukishima Holdings Co., Ltd. - Kansai Branch","541-0048„ÄÄNo. 6, Kawaramachi 3-chome, Chuo-ku, ...",34.6862,135.5033,NaN,Japan,(06)6229-1331,(06)6229-1415,https://www.tsk-g.co.jp/,NaN,"824,652,887.25","3,517"
3756,OEM,Pollution Control Equipment,Waste treatment support,"Tsukishima Holdings Co., Ltd. - Kansai Branch","541-0048„ÄÄNo. 6, Kawaramachi 3-chome, Chuo-ku, ...",34.6862,135.5033,NaN,Japan,(06)6229-1331,(06)6229-1415,https://www.tsk-g.co.jp/,NaN,"824,652,887.25","3,517"
3757,OEM,"Planning, Consulting & Construction of Complet...",Regional support for water,"Tsukishima Holdings Co., Ltd. - Sapporo Branch","060-0807„ÄÄ1-2 Kitashichijo Nishi 4-chome, Kita-...",35.6556,139.7797,NaN,Japan,(011)726-0510,(011)726-0520,https://www.tsk-g.co.jp/,NaN,"824,652,887.25","3,517"
3758,OEM,Pollution Control Equipment,Water treatment consulting,"Tsukishima Holdings Co., Ltd. - Sendai Branch","980-0014„ÄÄ11-2 Honmachi, Aoba-ku, Sendai (SK Se...",35.6563,139.7800,NaN,Japan,(022)227-9267,(022)223-0316,https://www.tsk-g.co.jp/,NaN,"824,652,887.25","3,517"
3759,OEM,Pollution Control Equipment,Environmental plant engineering,"Tsukishima Holdings Co., Ltd. - Yokohama Branch","231-0012„ÄÄ1, 56 Aioicho 3-chome, Naka-ku, Yokoh...",35.6563,139.7800,NaN,Japan,(045)651-7331,(045)664-5086,https://www.tsk-g.co.jp/,NaN,"824,652,887.25","3,517"
3760,OEM,Pollution Control Equipment,Sales and project support for treatment plants,"Tsukishima Holdings Co., Ltd. - Nagoya Branch","450-0003„ÄÄNo. 17, 29, Meieki Minami 1-chome, Na...",35.6563,139.7800,NaN,Japan,(052)581-2378,(052)581-1624,https://www.tsk-g.co.jp/,NaN,"824,652,887.25","3,517"
3761,OEM,Pollution Control Equipment,Environmental plant equipment sales and consul...,"Tsukishima Holdings Co., Ltd. - China Branch","730-0015„ÄÄNo. 10, Hashimotocho, Naka-ku, Hirosh...",35.6648,139.7828,NaN,Japan,(082)227-3093,(082)223-8771,https://www.tsk-g.co.jp/,NaN,"824,652,887.25","3,517"
3762,OEM,Pollution Control Equipment,West Japan environmental engineering projects,"Tsukishima Holdings Co., Ltd. - Fukuoka Branch","810-0062„ÄÄArato 2-chome No. 1 No. 5, Chuo-ku, F...",35.6560,139.7796,NaN,Japan,(092)741-5736,(092)761-4806,https://www.tsk-g.co.jp/,NaN,"824,652,887.25","3,517"
3763,OEM,Pollution Control Equipment,Local sales support for environmental systems,"Tsukishima Holdings Co., Ltd. - Okinawa Office","901-2131„ÄÄMakiminato 2-chome 54-No. 2, Urasoe C...",26.2626,127.7261,NaN,Japan,(098)874-5793,(098)874-6262,https://www.tsk-g.co.jp/,NaN,"824,652,887.25","3,517"
3764,OEM,Machinery Equipment for Services,Mechanical design,"Tsukishima Holdings Co., Ltd. - Yachiyo Office","276-0022„ÄÄ3, 1807 Kamikono, Yachiyo City, Chiba...",35.7335,140.1331,NaN,Japan,(047)494-4300,(047)494-4321,https://www.tsk-g.co.jp/,NaN,"824,652,887.25","3,517"
3765,OEM,Industrial Turnkey Plant,Production of tanks,"Tsukishima Holdings Co., Ltd. - Muroran Factory","051-0006„ÄÄ35-2 Chazu-cho, Muroran City, Hokkaido",42.3274,140.9892,NaN,Japan,(0143)57-1100,(0143)57-1102,https://www.tsk-g.co.jp/,NaN,"824,652,887.25","3,517"
3766,OEM,Industrial Turnkey Plant,Large industrial equipment,"Tsukishima Holdings Co., Ltd. - Muroran Factory","051-0006„ÄÄ35-2 Chazu-cho, Muroran City, Hokkaido",42.3274,140.9892,NaN,Japan,(0143)57-1100,(0143)57-1102,https://www.tsk-g.co.jp/,NaN,"824,652,887.25","3,517"
3767,OEM,Industrial Turnkey Plant,Welding and machining,"Tsukishima Holdings Co., Ltd. - Muroran Factory","051-0006„ÄÄ35-2 Chazu-cho, Muroran City, Hokkaido",42.3274,140.9892,NaN,Japan,(0143)57-1100,(0143)57-1102,https://www.tsk-g.co.jp/,NaN,"824,652,887.25","3,517"
3821,OEM,Productronics Machinery & Equipment,Printing Systems,"Sinfonia Technology Co., Ltd. - Ise Seisakusho...","516-8550 100 Takegahana-cho, Ise City, Mie Pre...",34.5093,136.7282,NaN,Japan,0596-36-1111,0596-36-0577,https://www.sinfo-t.jp/company/business-base/,NaN,"681,586,018.65","3,683"
3822,OEM,"Precision Machinery, Inspecting & Testing Equi...",Precision machining,"Sinfonia Technology Co., Ltd. - Toba Factory","517-0011 1-19-1 Toba, Toba City, Mie Prefecture",34.4850,136.8279,NaN,Japan,0599-25-3231,0599-25-5162,https://www.sinfo-t.jp/company/business-base/,NaN,"681,586,018.65","3,683"

In [23]:
C_df.loc[3751:3752, 'State'] = 'Tokyo'
C_df.loc[3753:3757, 'State'] = 'Osaka'
C_df.loc[3758, 'State'] = 'Miyagi'
C_df.loc[3759, 'State'] = 'Kanagawa'
C_df.loc[3760, 'State'] = 'Kochi'
C_df.loc[3761, 'State'] = 'Hiroshima'
C_df.loc[3762, 'State'] = 'Fukuoka'
C_df.loc[3763, 'State'] = 'Okinawa'
C_df.loc[3764, 'State'] = 'Chiba'
C_df.loc[3765:3767, 'State'] = 'Hokkaido'
C_df.loc[3821:3822, 'State'] = 'Mie'

In [24]:
C_df.loc[3822]

Busines Model                                                  OEM
Category         Precision Machinery, Inspecting & Testing Equi...
Subcategory                                    Precision machining
Company Name          Sinfonia Technology Co., Ltd. - Toba Factory
Address            517-0011 1-19-1 Toba, Toba City, Mie Prefecture
Latitude                                                   34.4850
Longitude                                                 136.8279
State                                                          Mie
Country                                                      Japan
Contact No.                                           0599-25-3231
Fax No.                                               0599-25-5162
Website              https://www.sinfo-t.jp/company/business-base/
Email                                                          NaN
Annual Sale                                         681,586,018.65
Employees                                                    3,683
Name: 3822, dtype: object

<h4>Resolve Country</h4>

In [25]:
C_df['Country'].unique()

array(['Japan', nan], dtype=object)

In [26]:
C_df['Country'] = C_df['Country'].fillna('Japan')

<h4>Resolve Contact No.</h4>

In [27]:
C_df['Contact No.'] = C_df['Contact No.'].fillna('')

<h4>Resolve Fax No.</h4>

In [28]:
C_df['Fax No.'] = C_df['Fax No.'].fillna('')

<h4>Resolve Email</h4>

In [29]:
C_df['Email'] = C_df['Email'].fillna('-')

<h4>Resolve Employees</h4>

In [30]:
null_rows = C_df[C_df['Employees'].isna()]

In [31]:
null_rows

,Busines Model,Category,Subcategory,Company Name,Address,Latitude,Longitude,State,Country,Contact No.,Fax No.,Website,Email,Annual Sale,Employees
3277,OEM,"Precision Machinery, Inspecting & Testing Equi...","Digital Modeling, CG, Optical analysis",Arrk Corporation - Head Office,"11th floor, Tatsuno Minamihonmachi Building, 2...",34.6789,135.5022,Osaka,Japan,,,https://jp.arrk.com/,-,"79,378,900.00",NaN
3278,OEM,Productronics Machinery & Equipment,"Product design, Proof of Concept (POC)",Arrk Corporation - Tokyo Head Office,"1-7-1 Izumi, Asaka City, Saitama Prefecture, 3...",35.8008,139.6019,Saitama,Japan,048-458-5055,048-458-5532,https://jp.arrk.com/,-,"79,378,900.00",NaN
3279,OEM,Industrial Machinery,"3D Printing, CNC Machining",Arrk Corporation - Head Office,"11th floor, Tatsuno Minamihonmachi Building, 2...",34.6789,135.5022,Osaka,Japan,,,https://jp.arrk.com/,-,"79,378,900.00",NaN
3280,OEM,Casting,"Vacuum casting, Microwave molding",Arrk Corporation - Harajuku Factory,"770 Harajuku Ipponsugi, Hidaka City, Saitama P...",35.9086,139.3432,Saitama,Japan,,,https://jp.arrk.com/,-,"79,378,900.00",NaN
3281,OEM,Productronics Machinery & Equipment,"Resin processing, Block molding",Arrk Corporation - Harajuku Factory,"770 Harajuku Ipponsugi, Hidaka City, Saitama P...",35.9086,139.3432,Saitama,Japan,,,https://jp.arrk.com/,-,"79,378,900.00",NaN
3282,OEM,Productronics Machinery & Equipment,Sheet Metal Processing,Arrk Corporation - Fujiyoshida Factory,"2-12-8 Mukaihara, Fujiyoshida City, Yamanashi ...",35.4872,138.8067,Yamanashi,Japan,0555-24-1811,0555-20-1080,https://jp.arrk.com/,-,"79,378,900.00",NaN
3283,OEM,Productronics Machinery & Equipment,"Simple mold, Injection molding, Small-scale pr...",Arrk Corporation - Fujiyoshida Factory,"2-12-8 Mukaihara, Fujiyoshida City, Yamanashi ...",35.4872,138.8067,Yamanashi,Japan,0555-24-1811,0555-20-1080,https://jp.arrk.com/,-,"79,378,900.00",NaN
3284,OEM,Productronics Machinery & Equipment,Decoration/Surface treatment,Arrk Corporation - Fujiyoshida Factory,"2-12-8 Mukaihara, Fujiyoshida City, Yamanashi ...",35.4872,138.8067,Yamanashi,Japan,0555-24-1811,0555-20-1080,https://jp.arrk.com/,-,"79,378,900.00",NaN
3285,OEM,Packaging Machinery,Packaging Solutions,Arrk Corporation - Osaka Branch Office,"2-4-3 Kawamocho, Tondabayashi City, Osaka Pref...",34.5004,135.5973,Osaka,Japan,0721-24-0403,0721-24-0455,https://jp.arrk.com/,-,"79,378,900.00",NaN
3286,OEM,Subcontract Services,"A combination of design, engineering, prototyp...",Arrk Corporation - Fujiyoshida Factory,"2-12-8 Mukaihara, Fujiyoshida City, Yamanashi ...",35.4872,138.8067,Yamanashi,Japan,0555-24-1811,0555-20-1080,https://jp.arrk.com/,-,"79,378,900.00",NaN
3287,OEM,Productronics Machinery & Equipment,Proof of Concept (POC),Arrk Corporation - Tokyo Head Office,"1-7-1 Izumi, Asaka City, Saitama Prefecture, 3...",35.8008,139.6019,Saitama,Japan,048-458-5055,048-458-5532,https://jp.arrk.com/,-,"79,378,900.00",NaN

In [32]:
Employees_median = round(C_df['Employees'].str.replace(',', '').astype('Int64').median())
Str_Employees_median = str(Employees_median)

In [33]:
C_df['Employees'] = C_df['Employees'].fillna(Str_Employees_median)

In [34]:
C_df['Employees'] = C_df['Employees'].str.replace(',', '')

In [35]:
C_df['Employees'] = pd.to_numeric(C_df['Employees'], errors='coerce').astype('Int64')

<h4>Finalize Field Status</h4>

In [36]:
C_df.isnull().any()

Busines Model    False
Category         False
Subcategory      False
Company Name     False
Address          False
Latitude         False
Longitude        False
State            False
Country          False
Contact No.      False
Fax No.          False
Website          False
Email            False
Annual Sale      False
Employees        False
dtype: bool

<h3>‚ö†Ô∏è Fix Formatting Issues</h3>

<h4>Check DType</h4>

In [37]:
C_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 838 entries, 3042 to 3879
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Busines Model  838 non-null    object
 1   Category       838 non-null    object
 2   Subcategory    838 non-null    object
 3   Company Name   838 non-null    object
 4   Address        838 non-null    object
 5   Latitude       838 non-null    object
 6   Longitude      838 non-null    object
 7   State          838 non-null    object
 8   Country        838 non-null    object
 9   Contact No.    838 non-null    object
 10  Fax No.        838 non-null    object
 11  Website        838 non-null    object
 12  Email          838 non-null    object
 13  Annual Sale    838 non-null    object
 14  Employees      838 non-null    Int64
dtypes: Int64(1), object(14)
memory usage: 99.2+ KB

<h4>Change Latitude 'object' to 'float64'</h4>

In [38]:
C_df['Latitude'] = pd.to_numeric(C_df['Latitude'], errors='coerce').astype('float64')

<h4>Change Longitude 'object' to 'float64'</h4>

In [39]:
C_df['Longitude'] = pd.to_numeric(C_df['Longitude'], errors='coerce').astype('float64')

<h4>Change Annual Sale 'object' to 'float128'</h4>

In [40]:
C_df['Annual Sale'] = C_df['Annual Sale'].str.replace(',', '')

In [41]:
C_df['Annual Sale'] = pd.to_numeric(C_df['Annual Sale'], errors='coerce').astype('Float64')

<h4>Format Contact No.</h4>

In [42]:
C_df['Contact No.'] = C_df['Contact No.'].str.replace('-', '').str.replace('(', '').str.replace(')', '').str.replace(' ', '')

In [43]:
C_df['Contact No.'] = C_df['Contact No.'].str.slice(0, 10)

In [44]:
C_df['Contact No.'] = C_df['Contact No.'].str.replace(r'^81', '+81', regex=True)
C_df['Contact No.'] = C_df['Contact No.'].str.replace(r'^0', '+81', regex=True)

In [45]:
C_df['Contact No.'] = C_df['Contact No.'].str.slice_replace(start = 0, stop = 0, repl = '(')
C_df['Contact No.'] = C_df['Contact No.'].str.slice_replace(start = 4, stop = 4, repl = ')')

In [46]:
C_df['Contact No.'] = C_df['Contact No.'].str.slice_replace(start = 5, stop = 5, repl = ' ')
C_df['Contact No.'] = C_df['Contact No.'].str.slice_replace(start = 7, stop = 7, repl = '-')

In [47]:
C_df['Contact No.'] = C_df['Contact No.'].str.slice_replace(start = 12, stop = 12, repl = '-')

In [48]:
C_df.head(5)

,Busines Model,Category,Subcategory,Company Name,Address,Latitude,Longitude,State,Country,Contact No.,Fax No.,Website,Email,Annual Sale,Employees
3042,OEM,Electric Machinery,Calibration Systems,"Eagle Industry Co., Ltd. - Marine Division Kur...","737-0027 No. 8 1 Showa-cho, Kure City, Hiroshi...",34.2506,132.5651,Hiroshima,Japan,(+81) 8-2325-7121,(0823) 25-7120,https://www.ekkeagle.com/jp,-,1117001501.9,6280
3043,OEM,Apparatus & Machinery for Chemical Industry,Mechanical seal auxiliary equipment,"Eagle Industry Co., Ltd. - Hiroshima Branch Sh...","746-0024 2-20-3 Koizumi, Shunan, Yamaguchi",34.0421,131.8069,Yamaguchi,Japan,(+81) 8-3463-7648,(0834) 61-1054,https://www.ekkeagle.com/jp,-,1117001501.9,6280
3044,OEM,Piping System,Mechanical seal auxiliary equipment,"Eagle Industry Co., Ltd. - Hiroshima Branch Sh...","746-0024 2-20-3 Koizumi, Shunan, Yamaguchi",34.0421,131.8069,Yamaguchi,Japan,(+81) 8-3463-7648,(0834) 61-1054,https://www.ekkeagle.com/jp,-,1117001501.9,6280
3045,OEM,Industrial Turnkey Plant,Mechanical seal auxiliary equipment,"Eagle Industry Co., Ltd. - Hiroshima Branch Sh...","746-0024 2-20-3 Koizumi, Shunan, Yamaguchi",34.0421,131.8069,Yamaguchi,Japan,(+81) 8-3463-7648,(0834) 61-1054,https://www.ekkeagle.com/jp,-,1117001501.9,6280
3046,OEM,Pollution Control Equipment,Mechanical seal auxiliary equipment,"Eagle Industry Co., Ltd. - Hiroshima Branch Sh...","746-0024 2-20-3 Koizumi, Shunan, Yamaguchi",34.0421,131.8069,Yamaguchi,Japan,(+81) 8-3463-7648,(0834) 61-1054,https://www.ekkeagle.com/jp,-,1117001501.9,6280

In [49]:
C_df['Contact No.'] = C_df['Contact No.'].str.replace('() -', '')

In [50]:
C_df['Contact No.'] = C_df['Contact No.'].str.split('\r').str[0]

In [51]:
C_df.loc[3268]

Busines Model                                           OEM
Category                                 Electric Machinery
Subcategory                              Electric Machinery
Company Name                                       YAMABIKO
Address          1-7-2 Suehirocho, Ome City, Tokyo 198-0025
Latitude                                            35.7802
Longitude                                           139.309
State                                                 Tokyo
Country                                               Japan
Contact No.                               (+81) 4-2832-1005
Fax No.
Website            https://www.yamabiko-corp.co.jp/kioritz/
Email                                                     -
Annual Sale                                     259229538.0
Employees                                               476
Name: 3268, dtype: object

<h4>Format Fax No.</h4>

In [52]:
C_df['Fax No.'] = C_df['Fax No.'].str.replace('-', '').str.replace('(', '').str.replace(')', '').str.replace(' ', '')

In [53]:
C_df['Fax No.'] = C_df['Fax No.'].str.slice(0, 10)

In [54]:
C_df['Fax No.'] = C_df['Fax No.'].str.replace(r'^81', '+81', regex=True)
C_df['Fax No.'] = C_df['Fax No.'].str.replace(r'^0', '+81', regex=True)

In [55]:
C_df['Fax No.'] = C_df['Fax No.'].str.slice_replace(start = 0, stop = 0, repl = '(')
C_df['Fax No.'] = C_df['Fax No.'].str.slice_replace(start = 4, stop = 4, repl = ')')

In [56]:
C_df['Fax No.'] = C_df['Fax No.'].str.slice_replace(start = 5, stop = 5, repl = ' ')
C_df['Fax No.'] = C_df['Fax No.'].str.slice_replace(start = 7, stop = 7, repl = '-')

In [57]:
C_df['Fax No.'] = C_df['Fax No.'].str.slice_replace(start = 12, stop = 12, repl = '-')

In [58]:
C_df.head(5)

,Busines Model,Category,Subcategory,Company Name,Address,Latitude,Longitude,State,Country,Contact No.,Fax No.,Website,Email,Annual Sale,Employees
3042,OEM,Electric Machinery,Calibration Systems,"Eagle Industry Co., Ltd. - Marine Division Kur...","737-0027 No. 8 1 Showa-cho, Kure City, Hiroshi...",34.2506,132.5651,Hiroshima,Japan,(+81) 8-2325-7121,(+81) 8-2325-7120,https://www.ekkeagle.com/jp,-,1117001501.9,6280
3043,OEM,Apparatus & Machinery for Chemical Industry,Mechanical seal auxiliary equipment,"Eagle Industry Co., Ltd. - Hiroshima Branch Sh...","746-0024 2-20-3 Koizumi, Shunan, Yamaguchi",34.0421,131.8069,Yamaguchi,Japan,(+81) 8-3463-7648,(+81) 8-3461-1054,https://www.ekkeagle.com/jp,-,1117001501.9,6280
3044,OEM,Piping System,Mechanical seal auxiliary equipment,"Eagle Industry Co., Ltd. - Hiroshima Branch Sh...","746-0024 2-20-3 Koizumi, Shunan, Yamaguchi",34.0421,131.8069,Yamaguchi,Japan,(+81) 8-3463-7648,(+81) 8-3461-1054,https://www.ekkeagle.com/jp,-,1117001501.9,6280
3045,OEM,Industrial Turnkey Plant,Mechanical seal auxiliary equipment,"Eagle Industry Co., Ltd. - Hiroshima Branch Sh...","746-0024 2-20-3 Koizumi, Shunan, Yamaguchi",34.0421,131.8069,Yamaguchi,Japan,(+81) 8-3463-7648,(+81) 8-3461-1054,https://www.ekkeagle.com/jp,-,1117001501.9,6280
3046,OEM,Pollution Control Equipment,Mechanical seal auxiliary equipment,"Eagle Industry Co., Ltd. - Hiroshima Branch Sh...","746-0024 2-20-3 Koizumi, Shunan, Yamaguchi",34.0421,131.8069,Yamaguchi,Japan,(+81) 8-3463-7648,(+81) 8-3461-1054,https://www.ekkeagle.com/jp,-,1117001501.9,6280

In [59]:
C_df['Fax No.'] = C_df['Fax No.'].str.replace('() -', '')

<h4>Format Website</h4>

In [60]:
C_df['Website'] = C_df['Website'].str.replace('https://', '')
C_df['Website'] = C_df['Website'].str.replace('http://', '')

In [61]:
C_df.sample(5)

,Busines Model,Category,Subcategory,Company Name,Address,Latitude,Longitude,State,Country,Contact No.,Fax No.,Website,Email,Annual Sale,Employees
3145,OEM,Machinery for Rubber Industry,Extrusion Molding Machines,"Shibaura Machine Co., Ltd. - Chubu branch","465-0025 5-307 Kamisha, Meito-ku, Nagoya",35.1833,136.9000,Aichi,Japan,(+81) 5-2702-7811,(+81) 5-2702-1141,www.shibaura-machine.co.jp/,-,1074278578.35,3507
3689,OEM,Food Machinery,Food Processing Systems,Shibuya Corp,"58, Omameda Honmachi, Kanazawa City, Ishikawa ...",36.5688,136.6558,Ishikawa,Japan,(+81) 7-6262-1201,(+81) 7-6223-1914,www.shibuya.co.jp/,-,766418271.3,3248
3345,OEM,Semiconductor Machinery,SMT pick and place machines,Fuji Machine Mfg - Toyota Plant,"483 Tojiri, Hasama-cho, Toyota, Aichi 470-0452...",35.2080,137.2683,Aichi,Japan,(+81) 5-6576-221,(+81) 5-6576-541,www.fuji.co.jp/,-,843601877.55,2911
3717,OEM,Automatic Machinery & Equipment,Regenerative medicine systems,Shibuya Corp - Mechatronics Headquarters,"2-232 Wakamiya, Kanazawa City, Ishikawa Prefec...",36.5744,136.6301,Ishikawa,Japan,(+81) 7-6262-2202,(+81) 7-6233-4011,www.shibuya.co.jp/,-,766418271.3,3248
3805,OEM,Automatic Machinery & Equipment,FA Systems,"Sinfonia Technology Co., Ltd. - Hiroshima Office","730-0032 IG Ishida Gakuen Building, 2-25 Tatec...",34.3950,132.4608,Hiroshima,Japan,(+81) 8-2218-0211,(+81) 8-2218-0212,www.sinfo-t.jp/company/business-base/,-,681586018.65,3683

<h4>Finalize DType</h4>

In [62]:
C_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 838 entries, 3042 to 3879
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Busines Model  838 non-null    object
 1   Category       838 non-null    object
 2   Subcategory    838 non-null    object
 3   Company Name   838 non-null    object
 4   Address        838 non-null    object
 5   Latitude       838 non-null    float64
 6   Longitude      838 non-null    float64
 7   State          838 non-null    object
 8   Country        838 non-null    object
 9   Contact No.    838 non-null    object
 10  Fax No.        838 non-null    object
 11  Website        838 non-null    object
 12  Email          838 non-null    object
 13  Annual Sale    838 non-null    Float64
 14  Employees      838 non-null    Int64
dtypes: Float64(1), Int64(1), float64(2), object(11)
memory usage: 100.0+ KB

In [63]:
C_df.isnull().any()

Busines Model    False
Category         False
Subcategory      False
Company Name     False
Address          False
Latitude         False
Longitude        False
State            False
Country          False
Contact No.      False
Fax No.          False
Website          False
Email            False
Annual Sale      False
Employees        False
dtype: bool

In [64]:
C_df.tail(3)

,Busines Model,Category,Subcategory,Company Name,Address,Latitude,Longitude,State,Country,Contact No.,Fax No.,Website,Email,Annual Sale,Employees
3877,OEM,Industrial Machinery,Industrial Machinery,Seika Corp. - Fukuoka Branch Office,810-0004 Fukuoka City Chuo Ward Watanabedori 2...,33.5828,130.4052,Fukuoka,Japan,(+81) 9-2731-0471,(+81) 9-2731-0955,www.seika.com/,-,576204668.25,1040
3878,OEM,Industrial Machinery,Industrial Machinery,Seika Corp. - Kitakyushu Branch Office,"802-0001 KMM Building 2-14-1 Asano, Kokurakita...",33.8887,130.8835,Fukuoka,Japan,(+81) 9-3541-1127,(+81) 9-3541-1277,www.seika.com/,-,576204668.25,1040
3879,OEM,Industrial Machinery,Industrial Machinery,Seika Corp. - Oita Branch Office,"9th floor, Nissei Oita Ekimae Building, 1-1-18...",33.2347,131.6061,Oita,Japan,(+81) 9-7534-1798,(+81) 9-7533-7494,www.seika.com/,-,576204668.25,1040

<h3>üéè Remove Duplicate Records</h3>

<h4>Check Current Shape of Dataframe</h4>

In [65]:
C_df.shape

(838, 15)

<h4>Count Duplicate Rows for Validation</h4>

In [66]:
duplicate_rows = C_df[C_df.duplicated()]
duplicate_rows.shape[0]

12

In [67]:
C_df = C_df.drop_duplicates(keep = 'first')

<h4>Check New Shape of Dataframe</h4>

In [68]:
C_df.shape

(826, 15)

<h3>üåê Validate Geolocation Data</h3>

<h4>Get Country Borders</h4>

In [ ]:
geo_df = gpd.read_file("https://d2ad6b4ur7yvpq.cloudfront.net/naturalearth-3.3.0/ne_50m_admin_0_countries.geojson")

In [ ]:
country = geo_df[geo_df['name'] == 'Japan']

<h4>Convert To GeoDataFrame</h4>

In [ ]:
C_df_copy = C_df

In [ ]:
geo_df = gpd.GeoDataFrame(C_df_copy, geometry = gpd.points_from_xy(
    C_df_copy['Longitude'], C_df_copy['Latitude']), crs="EPSG:4326")

<h4>Check Coordinates</h4>

In [ ]:
points_within = gpd.sjoin(geo_df, country, how='inner', predicate='within')

In [ ]:
points_outside = geo_df[~geo_df.index.isin(points_within.index)]

In [ ]:
print("Points inside the country:\n")
points_within

In [ ]:
print("Coordinates outside the country:")
points_outside

In [ ]:
points_within.shape[0]

In [ ]:
points_outside.shape[0]

In [ ]:
C_df.shape[0]

<h4>Visualization</h4>

In [ ]:
fig, ax = plt.subplots(figsize=(12, 12))
country.plot(ax=ax, color='lightgrey', edgecolor='grey')
points_within.plot(ax=ax, color='#67c8fc', markersize=30, label='Inside')
geo_df[~geo_df.index.isin(points_within.index)].plot(ax=ax, color='#fc8a67', markersize=60, label='Outside')

plt.title("Coordinates in Country Borders")
plt.legend()
plt.show()

<h4>Inspect Rows with Outside Coordinates</h4>

In [ ]:
points_outside[['Company Name', 'Latitude', 'Longitude']].drop_duplicates()

In [ ]:
country_projected = country.to_crs("EPSG:3857")
centroid = country_projected.geometry.centroid.to_crs("EPSG:4326")
center_lat, center_lon = centroid.y.mean(), centroid.x.mean()

In [ ]:
m = folium.Map(location=[center_lat, center_lon], zoom_start=5)

folium.GeoJson(country).add_to(m)

for idx, row in points_outside.iterrows():
    color = 'lightblue' if idx in points_within.index else 'lightred'
    folium.Marker(
        location=[row['Latitude'], row['Longitude']],
        popup=row['Company Name'],
        icon=folium.Icon(color=color)
    ).add_to(m)

m.save('map.html')

In [ ]:
webbrowser.open('map.html',new = 2)

<h4>Correct Latitude and Longitude</h4>

<b>Before correcting the coordinates, check the `map.html` file to confirm. Sometimes, the Python calculations are not accurate.</b>

In [ ]:
# Sinfonia Technology Co., Ltd. - Shimonoseki Office
C_df.loc[C_df['Company Name'] == 'Sinfonia Technology Co., Ltd. - Shimonoseki Office', 
    ['Latitude', 'Longitude']] = [34.0067, 130.9972]

# Sinfonia Technology Co., Ltd. - Hokuriku Office
C_df.loc[C_df['Company Name'] == 'Sinfonia Technology Co., Ltd. - Hokuriku Office', 
    ['Latitude', 'Longitude']] = [36.6977, 137.2162]

<h4>Finalize Coordinates</h4>

In [ ]:
C_df_copy = C_df

In [ ]:
geo_df = gpd.GeoDataFrame(C_df_copy, geometry = gpd.points_from_xy(
    C_df_copy['Longitude'], C_df_copy['Latitude']), crs="EPSG:4326")

In [ ]:
points_within = gpd.sjoin(geo_df, country, how='inner', predicate='within')
points_outside = geo_df[~geo_df.index.isin(points_within.index)]

In [ ]:
country_projected = country.to_crs("EPSG:3857")
centroid = country_projected.geometry.centroid.to_crs("EPSG:4326")
center_lat, center_lon = centroid.y.mean(), centroid.x.mean()

In [ ]:
m = folium.Map(location=[center_lat, center_lon], zoom_start=5)

folium.GeoJson(country).add_to(m)

for idx, row in points_outside.iterrows():
    color = 'lightblue' if idx in points_within.index else 'lightred'
    folium.Marker(
        location=[row['Latitude'], row['Longitude']],
        popup=row['Company Name'],
        icon=folium.Icon(color=color)
    ).add_to(m)

m.save('map_corrected.html')

In [ ]:
webbrowser.open('map_corrected.html',new = 2)

<h3>üìù Correct Incorrect Entries</h3>

<h4>Resolve Busines Model</h4>

In [ ]:
C_df['Busines Model'].unique()

<h4>Resolve Category</h4>

In [ ]:
Categories = np.sort(C_df['Category'].unique())
Categories

In [ ]:
C_df.loc[C_df['Category'] == 'Chemical', 'Category'] = 'Apparatus & Machinery for Chemical Industry'
C_df['Category'] = C_df['Category'].str.replace('Industrial Turnkey Plant ','Industrial Turnkey Plant')
C_df.loc[C_df['Category'] == 'Semiconductor', 'Category'] = 'Semiconductor Machinery'
C_df.loc[C_df['Category'] == 'Electronic', 'Category'] = 'Electric Machinery'
C_df.loc[C_df['Category'] == 'Energy', 'Category'] = 'Electric Machinery'
C_df.loc[C_df['Category'] == 'Food', 'Category'] = 'Food Machinery'
C_df['Category'] = C_df['Category'].str.replace('\n','')
C_df.loc[C_df['Category'] == 'Precision Machinery', 'Category'] = 'Precision Machinery, Inspecting & Testing Equipment'

In [ ]:
Categories = np.sort(C_df['Category'].unique())

for i in Categories:
    print(i)

<h4>Resolve Subcategory</h4>

In [ ]:
C_df['Subcategory'] = C_df['Subcategory'].str.title()

In [ ]:
C_df['Subcategory'] = C_df['Subcategory'].str.replace(', And',' And')

In [ ]:
Subcategories = np.sort(C_df['Subcategory'].unique())

for i in Subcategories:
    print(i)

In [ ]:
C_df.loc[C_df['Subcategory'] == 'Bending Roll', 'Subcategory'] = 'Bending Rolls'
C_df.loc[C_df['Subcategory'] == 'Dredge Pump', 'Subcategory'] = 'Dredge Pumps'
C_df.loc[C_df['Subcategory'] == 'Power Electonics', 'Subcategory'] = 'Power Electronics'
C_df.loc[C_df['Subcategory'] == 'Product Design, Proof Of Concept (Poc)', 'Subcategory'] = 'Product Design'
C_df.loc[C_df['Subcategory'] == 'Semiconductor ', 'Subcategory'] = 'Semiconductor'
C_df.loc[C_df['Subcategory'] == 'Semiconductors', 'Subcategory'] = 'Semiconductor'
C_df.loc[C_df['Subcategory'] == 'Wastewaster Treatment Solution ', 'Subcategory'] = 'Wastewater Treatment Systems'

In [ ]:
C_df['Subcategory'] = C_df['Subcategory'].str.replace('Cnc','CNC')
C_df['Subcategory'] = C_df['Subcategory'].str.replace('Co2','CO2')
C_df['Subcategory'] = C_df['Subcategory'].str.replace('Hvac','HVAC')
C_df['Subcategory'] = C_df['Subcategory'].str.replace('Frp','FRP')
C_df['Subcategory'] = C_df['Subcategory'].str.replace('Smt','SMT')

In [ ]:
Subcategories = np.sort(C_df['Subcategory'].unique())

for i in Subcategories:
    print(i)

<h4>Resolve State</h4>

In [ ]:
C_df['State'].unique()

In [ ]:
C_df['State'] = C_df['State'].str.replace(' ', '', regex=True)

In [ ]:
C_df['State'].unique()

<h4>Resolve Country</h4>

In [ ]:
C_df['Country'].unique()

<h3>üìà Detect and Treat Outliers</h3>

In [ ]:
plt.style.use('fivethirtyeight')

<h4>Check Latitude</h4>

In [ ]:
plt.scatter(C_df['Latitude'], C_df['Latitude'], color='#fc67a5')
plt.show()

<h4>Check Longitude</h4>

In [ ]:
plt.scatter(C_df['Longitude'], C_df['Longitude'], color='#fc8a67')
plt.show()

<h4>Check Annual Sales</h4>

In [ ]:
plt.scatter(C_df['Annual Sale'], C_df['Annual Sale'], color='#67fcc8')
plt.show()

<h4>Check Employees</h4>

In [ ]:
plt.scatter(C_df['Employees'], C_df['Employees'], color='#67c8fc')
plt.show()

So far, there are <b>no outliers</b> in the dataset.

<h2>üîé Finalize Dataset</h2>

<h3>Check Data Types</h3>

In [ ]:
C_df.info()

<h3>Check For Null Values</h3>

In [ ]:
C_df.isnull().any()

<h3>Summarize Dataset</h3>

In [ ]:
C_df.describe()

<h3>Check Random Samples</h3>

In [ ]:
C_df.sample(5)

<h2>üì• Download Dataset</h2>

In [ ]:
C_df.to_csv('datasets\output\Dataset_C_cleaned.csv', index=False)

<h2>üíå Credits ‚úâÔ∏è</h2>

This project is done by <b>ERMITANO, Kate Justine</b> as a part of the internship tasks under the instructions of <b>Miss Fherlyn Charl Yet</b>.